### Python - W3Schools

In [ ]:
print('Hello World')

$$$ Indentation

In [ ]:
if 10>2:
    print('Balu is Man')

Python variables

In [ ]:
a = 30
b = 34

if a > b:
    print('{} is BIg'.format(a))
else:
    print('{} is Big'.format(b))

### Commmneting..
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.

In [ ]:
# This is comment line this can written for the information purpose in python
print('Balu is an idiot...')
#print('This code not executed') # This code is prevented..

#### Multiline commenting

In [ ]:
""" This is multiliane commentig
this wll not executed..
okay okay  """
print('this is python')

### Python Variables...
Variables are containers for storing data values.

Python has no command for declaring a variable.

A variable is created the moment you first assign a value to it.

In [ ]:
x =  "THis is not a value"
y = 56

print(x,'     ',y)

### Casting...

If you want to specify the data type of a variable, this can be done with casting.

In [ ]:
a = 45
print('This is intiger : ',int(a))
print('This is float : ',float(a))
print('This is str : ',str(a))

In [ ]:
type(a)

In [ ]:
type(str(a))

In [ ]:
type(str(a))

String Vatiable declare with double or sigle quotes..

In [ ]:
a = 'balu'
b=  "Balu"
print(a)
print(b)

python is case sensitive

In [ ]:
a  = 34
A = "balu"
print(a)

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
Age = 34
age = 36
_ag3 = 88
a53age = 78

In [ ]:
print(_ag3)

In [ ]:
#Camel case variable 
myAge = 34
#Pascal Case
MyAge = 35
#Snake case
my_age = 34

Multivalue assigning

In [ ]:
a , b, c = "Orange",'Balana','Apple'
a,b,c

In [ ]:
type(a)

One value to multiple...

In [ ]:
a = b =c  = 'Apple'

In [ ]:
a,b,c

In [ ]:
#Unpack collections of lists , tuples..

In [ ]:
x = ['Bala','Krishna','Baddi']
first,middle,last = x
first,middle,last

In [ ]:
x = {'Bala','Krishna','Baddi'}

first,middle,last = x
first

In [ ]:
#print function...
x = ['Bala','Krishna','Baddi']
first,middle,last = x

print(first,middle,last)

In [ ]:
print(first + middle + last) # we can include spaces to seperate the values...

In [ ]:
# print(first + ' age is ' + 25) this will gave you error...
print(first + ' age is ',25)

Global Variables...
* Global variables can be used by everyone, both inside of functions and outside.

In [ ]:
x = "awsome" #global variable...
def func():
    print(x)
func()

In [ ]:
x = "awsome" #global variable...
def func():
    print(x)
    name = 'Bala'
func()
#print(name) # this will throw an error

In [ ]:
x = "awsome" #global variable...
def func():
    print(x)
    global name
    name = 'Bala'
func()
print(name) # this is now a gloabl variable...

## Python Data Types..

BuitIn Data Types..

* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

### Text data type

In [ ]:
#string data type..
x = 'Hello world'

In [ ]:
# int data type..
x = 34
print(x,type(x))

In [ ]:
# foat data type..
x = 34.55
print(x,type(x))

In [ ]:
# int data type..
x = 1j
print(x,type(x))

In [ ]:
j = 34
j*2  # here j is the 34 thie is complex number...

In [ ]:
#List data type...

x = ['bala age is',34]
print(x,'    ',type(x))

In [ ]:
#tuple  data type...

x = ('bala age is',34)
print(x,'    ',type(x))

In [ ]:
#range data type...

x = range(6)
print(x,'    ',type(x))

In [ ]:
#List data type...

x = {'bala age is',34}
print(x,'    ',type(x))

In [ ]:
#set data type...

x = {3.5,3,45,6,2,656,4,444,4,4,4,4}
print(x,'    ',type(x))

In [ ]:
#frozenset data type...

x =frozenset({3.5,3,45,6,2,656,4,444,4,4,4,4})
print(x,'    ',type(x))

In [ ]:
## Boolean type..
x = True
x+1 # true is exual to 1

In [ ]:
# bytes..
x = b'34'
print(x,'    ',type(x))

In [ ]:
# bytesarray..
x = bytearray(10)
print(x,'    ',type(x))

In [ ]:
# Memoryview..
x = memoryview(bytes(10))
print(x,'    ',type(x))

In [ ]:
# bytesarray..
x =None
print(x,'    ',type(x))

In [ ]:
#settgin up a perfect datatype in python..

x = 34

print(int(x), '     ',type(int(x)))
print(float(x), '     ',type(float(x)))
print(complex(x), '     ',type(complex(x)))
print(list(range(x-3)), '     ',type(list(range(x))))
print(tuple(range(x-5)), '     ',type(tuple(range(x))))
print(range(x), '     ',type(range(x)))
print(dict(age=x), '     ',type(dict(age=x)))
print(set(range(x-20)), '     ',type(set(range(x))))
print(frozenset(range(x-20)), '     ',type(frozenset(range(x))))
print(bool(x), '     ',type(bool(x)))
print(bytes('aslkdjf','utf-8'), '     ',type(bytes(x)))
print(bytearray(x), '     ',type(bytearray(x)))
print(memoryview(bytes(x)), '     ',type(memoryview(bytes(x))))

### Python Numbers...

In [ ]:
# int number...
a = 34
b = 23
c = 56
print(a,b,c)

In [ ]:
#Float...numbers...
a = 34.4
b = 5.5
c = 456.4e10
print(c)
print(type(c))

In [ ]:
#complex numbers...
j = 10 

print(5j)  # j is an imaginary part in the complex numbers...
print(5j- j)

#### Random Numbers...

In [ ]:
import random

print(random.randrange(-500,500)) #select -500 number from 5 to 500

#### Casting

In [ ]:
a = 34.5

print(type(a))

In [ ]:
print(type(int(a)))

In [ ]:
b = 34

float(b)

In [ ]:
#strring...datatypes... casting...
a = a +b
print(type(a))

print(type(str(a))) #now its a string

### Python strings..

In [ ]:
a = 'Bala is a good man'
print(a)

In [ ]:
# Multiline string....

a = """Bala is good boy 
and this is great thing
ever he had """
print(a)

In [ ]:
#strings are Arrays...
a[0]

In [ ]:
a[-4]

In [ ]:
a[::-1]

In [ ]:
len(a)

In [ ]:
if 'Bala' in a:
    print('Balu')

In [ ]:
if 'Balu' not in a :
    print('Balu not here')

#### Slicing

In [ ]:
#slicing is the specifing the index range of array...
print(a)

print(a[0:18]) # This will print the next line..

In [ ]:
for c in a:
    print(c,end='')
    if c=='\n':
        break;

In [ ]:
# Negitive Indexing...

print(a[-13:-1])

##### Modify strings...

In [ ]:
### Upper CASE
print(a)
print('\n\n'+a.upper())

In [ ]:
#STRIP

# this method is used to remove the white space in the python string...from begining or end

print(a.strip())

In [ ]:
a = "                  Bala  this is the best man raj                   "

In [ ]:
print(a.strip())

In [ ]:
#replace the string  ... with the replace method..
a= a.replace('Bala','Balu').strip()

In [ ]:
a

In [ ]:
#splitis used split the string into list ..
l = a.split(' ')

In [ ]:
l

In [ ]:
#concatenate strings....in python...
a = 'Bala'
b = 'Krishna'
c = a + b

In [ ]:
c

In [ ]:
c = a
a = 'Balu'
print(c)

In [ ]:
#format strings in python...
a = 'Balu is male and age is {}'

print(a.format(25))

In [ ]:
#format txt with list..

l = [25,'MCA',165]

print('Balu is {0} , he is {2} cm hight and his qualification is {1}'.format(l[0],l[1],l[2]))

In [ ]:
#escape character in python...
#txt = "We are the so-called "Vikings" from the north."
txt = "We are the so-called \"Vikings\" from the north." # \ is used the excape the error..
txt

In [ ]:
txt = "We are the so-called \"Vikings\" from the north.//"
txt

In [ ]:
txt = "We are the so-called \"Vikings\" from the north. \n"
txt

#### String Methods...

In [ ]:
a = 'Balu is Data Scientist..'

In [ ]:
a.capitalize()

In [ ]:
a.casefold()

In [ ]:
a = a.upper()
a

In [ ]:
a=a.casefold()
a

In [ ]:
a.center(10)

In [ ]:
a.count('a') #counts the values from the string...

In [ ]:
a

In [ ]:
a.encode()

In [ ]:
a.endswith('bala')

In [ ]:
a.endswith('..')

In [ ]:
a.expandtabs(10)

In [ ]:
a.find('is')

In [ ]:
a.format('56')

In [ ]:
a.format_map('hai')

In [ ]:
a.isalnum()

In [ ]:
a.isalpha()

In [ ]:
a.isascii()

In [ ]:
a.isdecimal()

In [ ]:
a.isdigit()

In [ ]:
a.isidentifier()

In [ ]:
a.islower()

In [ ]:
a.isnumeric()

In [ ]:
a.isprintable()

In [ ]:
a.isspace()

In [ ]:
a.istitle()

In [ ]:
a.isupper()

In [ ]:
a

In [ ]:
a.join('A ')

In [ ]:
a.ljust(3) # ^^^

In [ ]:
a.lstrip()

In [ ]:
a = '    ' + a +"        "
a

In [ ]:
a.lstrip() # removes only left spaces...

In [ ]:
a.maketrans('bala')

In [ ]:
a = 45.4545
abs(a)

In [ ]:
len([345,43,45])

In [ ]:
a

In [ ]:
a = 'Balu Is A Good Boy'
a.swapcase()

In [ ]:
a.zfill(10)

In [ ]:
a.zfill(4)

In [ ]:
a.translate('telugu')

In [ ]:
a.title()

In [ ]:
a.splitlines()

In [ ]:
a = """ This is multiliane commentig
this wll not executed..
okay okay  """
a

In [ ]:
a.splitlines()

In [ ]:
a.rfind('this')

In [ ]:
a.rindex('this')

In [ ]:
a[30:]

#### Booleans
Almost any value is evaluated to True if it has some sort of content.

Any string is True, except empty strings.

Any number is True, except 0.

Any list, tuple, set, and dictionary are True, except empty ones.

In [ ]:
bool('bala is')

In [ ]:
bool("") #empty string is false..

In [ ]:
bool([1,2,32,3,5])

In [ ]:
bool(0)

In [ ]:
bool(000000)

In [ ]:
bool(None)

In [ ]:
bool({})

In [ ]:
class myclass():
    def __len__(self):
        return 0
my_obj = myclass()
bool(my_obj)

In [ ]:
##Functions can run a boolean....

def my_function():
    return True

bool(my_function())

In [ ]:
if my_function():
    print('Yes')
else:
    print('No')

#### Check the which data type the input data is...

In [ ]:
#check if object is interger or not...
x = 200
print(isinstance(x,int))

In [ ]:
a = 'laksdlkhaslas'
isinstance(a,str)

### Python operators
Operators are used to perform operations on variables and values.

Arthmetic Operatos..

In [ ]:
### Addition...
 
a = 10
b = 40

print(a + b)

In [ ]:
### Substraction...

print(a - b)

In [ ]:
### Multiplication...

print(a * b)

In [ ]:
### Division...

print(a / b)

In [ ]:
### Modulas...

print(a % b)

In [ ]:
### Exponention...

print(a ** b)

In [ ]:
### Floor Division...

print(b // a)

Assignment Operators...

In [ ]:
### equal to ...

c = a+b
print(c)

In [ ]:
###  increament ...

c +=10
print(c)

In [ ]:
###Decriment...

c -=10
print(c)

In [ ]:
### meultiplicatn...

c *=10
print(c)

In [ ]:
###Divisionet...

c /=10
print(c)

In [ ]:
###Decriment...

c //=10
print(c)

In [ ]:
### exponentional...

c **=10
print(c)

In [ ]:
###Decriment...
c  = 10
c &=10
print(c)

In [ ]:
###Decriment...

c |=10
print(c)

In [ ]:
###Decriment...

c ^=10
print(c)

In [ ]:
###Decriment...

c >>=10
print(c)

In [ ]:
###Decriment...

c <<=100
print(c)

Python Comparision Operatos...

In [ ]:
### Equal...
c = 20
c ==20

In [ ]:
### Nto Equal...

c !=20

In [ ]:
c > 20

In [ ]:
c <20

In [ ]:
c >=20

In [ ]:
c <=30

Python logical operators..
* AND
* OR
* NOT

In [ ]:
a = 10
b = 20
 
a and b

In [ ]:
a or b

In [ ]:
a

In [ ]:
not 10 >20 # False ---> True here

Python Identity Operators..
* is
* isnot

In [ ]:
a

In [ ]:
a is b

In [ ]:
b

In [ ]:
a = 20
b = 20

In [ ]:
a is b

In [ ]:
b is a

In [ ]:
#is not

In [ ]:
a is not b

In [ ]:
a = 20

In [ ]:
a is not b

In [ ]:
b =30
a = 4
a is not b

Membership Operators..

In [ ]:
a in [2,3,4,5]

In [ ]:
b in [2,3.5,65,8]

In [ ]:
b not in [2,3.5,65,8]

In [ ]:
"balu"  in 'Balu is balu not a puspa'

Bitwise operators...

In [ ]:
# &&&&&&&&&&&&&&&&&
a  = 13
b = 7

a & b

In [ ]:
# |||||||||||||||||||||||||||||

a  | b

In [ ]:
a ^ b

In [ ]:
~a

In [ ]:
a << 10

In [ ]:
a >> 10

### Lists...

In [ ]:
l = ['Bala',34,5.5,['Krishna'],{34,4,},True]
print(l)

In [ ]:
list(("balalsd",34,34))

In [ ]:
len(l)

In [ ]:
l

In [ ]:
l = [random.randint(n,10) for n in range(1,11)] #created random numbers to use the lists
l

In [ ]:
#access list...
l[-1]

In [ ]:
l[8:10]

In [ ]:
len(l)

In [ ]:
l[:9]

In [ ]:
l[-9:]

In [ ]:
l

In [ ]:
l[4:]

In [ ]:
l

In [ ]:
l[-6:-1]

In [ ]:
l[-4:-2]

In [ ]:
#check item exists..using membership operatorss.

7 in l

In [ ]:
##Change lsit items...
print(l)
l[0:4] = [0,0,0,0]
print(l)

In [ ]:
a = "5+56+87-7*8/54"

b= []
#sending each character to one indexing list...

b[0:len(a)+1] = a
l
b

In [ ]:
l

In [ ]:
l

In [ ]:
l[0:4 ] = [1,2,3,4,'balu']

In [ ]:
l

In [ ]:
l[5:6] = ['bala ','Krishna',[1,2,3]]

In [ ]:
l

In [ ]:
l.pop(-2)

In [ ]:
l

In [ ]:
[n for n in l if not isinstance(n,list)] #excluded the list uding the isinstance function...

In [ ]:
l=[1, 2, 3, 4, 'balu', 'bala ', 'Krishna', 6, 7, 9, 10]
l[4:5] = ['Bala','Krishna']

In [ ]:
l

In [ ]:
l[4:-5] = ['****']

In [ ]:
l

In [ ]:
l.pop(-5)

In [ ]:
l

In [ ]:
l[4:6] = [5]

In [ ]:
l

In [ ]:
l.insert(5,6)

In [ ]:
l

In [ ]:
l.insert(7,[8,8])

In [ ]:
l

In [ ]:
l[-3:-2] = [8,10]

In [ ]:
l

In [ ]:
l.pop(-2)

In [ ]:
l

In [ ]:
l[-2] = 9

In [ ]:
l

In [ ]:
#append the lists...

l.append('11')

In [ ]:
l

In [ ]:
l[-1] = int('11')

In [ ]:
l

In [ ]:
l.append([1,2,3,4])

In [ ]:
l

In [ ]:
l.pop(-1)

In [ ]:
l

In [ ]:
l.extend([12,13,14])

In [ ]:
l

In [ ]:
l

In [ ]:
l.pop(-1)

In [ ]:
del(l[-1])

In [ ]:
l

In [ ]:
a

In [ ]:
#clear is used to clear the list and make empty ...
b.clear()

In [ ]:
b

In [ ]:
## loop lists...

for i in l:
    print(i,end='\t\t')
print('\n')
for i in range(len(l)):
    print(i,end='\t\t')

In [ ]:
i = 0

while i < len(l):
    print(i,end='\t\t')
    i +=1

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
thislist = ["apple", "banana", "cherry"]
[print(x) for x in thislist]

In [ ]:
l

In [ ]:
a = []

for i in l:
    if '1' in str(i):
        a.append(i)

In [ ]:
a

In [ ]:
[n for n in l if '1' in str(n)]

In [ ]:
# getting odd numbers to list coprehentation...

odds = [n for n in range(1,101) if n%2==1]
print(odds)

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

[n.upper() for n in fruits ]

In [ ]:
#return orange instead of banana...

[n.upper() if n!='banana' else 'Orange' for n in fruits]

In [ ]:
fruits

In [ ]:
fruits.sort()

In [ ]:
fruits

In [ ]:
fruits.sort(reverse=True)

In [ ]:
fruits

In [ ]:
def my_fun(n):
    return abs(n - 100)
my_fun(10)

In [ ]:
#possitive values...
l = [random.randint(n,50) for n in range(11)]
l

In [ ]:
l.sort(key=my_fun) #closet number to the 20

In [ ]:
l

In [ ]:
fruits.sort(key=str.lower)
fruits

In [ ]:
l

In [ ]:
l.reverse()

In [ ]:
l

Copy lists..

In [ ]:
veg = fruits.copy()
veg

In [ ]:
f_v = fruits+veg
print(f_v)

In [ ]:
fruits.pop(5)

In [ ]:
fruits = list(set(list(fruits)))

In [ ]:
fruits

In [ ]:
f = fruits.extend(veg)

In [ ]:
f

In [ ]:
fruits

In [ ]:
veg

In [ ]:
for i in veg:
    fruits.append(i)

In [ ]:
fruits

In [ ]:
fruits.clear()

In [ ]:
fruits

In [ ]:
fruits = veg.copy()

In [ ]:
fruits =list(set(fruits))

In [ ]:
fruits

In [ ]:
fruits.count('apple')

In [ ]:
fruits.index('banana')

In [ ]:
fruits.remove('banana')

In [ ]:
fruits

In [ ]:
fruits.reverse()

In [ ]:
fruits

### Tuples

In [ ]:
a = (23,34,35,['balu','Krishna'],True,False,1,2,3.3,'bala','baddi')

In [ ]:
a

In [ ]:
type(a)

In [ ]:
l = [1,2,3,5,6,8,100,45,23]
l.sort()

In [ ]:
l

### Tuples...
When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

In [ ]:
a = tuple([random.randint(1,n) for n in range(2,20)]) #generate some n numbers... in tuples....
a

In [ ]:
a.count('1')

In [ ]:
a.count(1)

In [ ]:
a

In [ ]:
len(a)

In [ ]:
type(a)

In [ ]:
b = (('balu','RAju'))

In [ ]:
b

In [ ]:
type(b)

In [ ]:
type(a)

In [ ]:
a

In [ ]:
a[1]

In [ ]:
a[::-1]

In [ ]:
a[8:13]

In [ ]:
a[:10]

In [ ]:
a[-4:-1]

In [ ]:
a

In [ ]:
a[5::-1]

In [ ]:
a.index(1)

In [ ]:
x = list(a)

In [ ]:
x

In [ ]:
x [8] = 'Kiwi'

In [ ]:
a = tuple(x)

In [ ]:
a = [1, 2, 3, 2, 4, 4, 7, 2, 4, 5, 8, 9, 3, 15, 5, 15, 8, 5]

In [ ]:
a

In [ ]:
del a

In [ ]:
### Unpacking Tuple...
a = (1,2,3)
one,two,three = a
print(one)
print(two)
print(three)

In [ ]:
#using astrics...that will create a list value...

a = (1,2,3)
one,two,*three = a
print(one)
print(two)
print(three)

In [ ]:
for i in a:
    print(i)

In [ ]:
b = (6,4,34,'Balu')
c = a+b

In [ ]:
c

In [ ]:
a

In [ ]:
c = c*2
c

In [ ]:
#tuple count and index....
c.count('a')

In [ ]:
c.index('Balu')

### sets...

In [ ]:
s  = set([random.randint(1,n) for n in range(2,20)])
#printing the the set values...
s

In [ ]:
len(s)

In [ ]:
s

In [ ]:
s = frozenset(s)

In [ ]:
s = {'Balu',1,2,3,'Krishna'}
s

In [ ]:
type(s)

In [ ]:
for x in s:
    print(x)

In [ ]:
print('Balu' in s)

In [ ]:
## add values to the set...
s.add('Baddi')
s

In [ ]:
a = {'Mca','visakhapathnam'}
s.update(a) #method

In [ ]:
s

In [ ]:
s.update([n for n in range(12,15)])

In [ ]:
s

In [ ]:
s.remove('Balu')

In [ ]:
s

In [ ]:
s.discard('Balu')

In [ ]:
s.discard('mca')

In [ ]:
s

In [ ]:
#pop
s= {1,12, 13, 14, 2, 3, 'Baddi', 'Krishna', 'Mca', 'visakhapathnam'}
s.pop()

In [ ]:
s

In [ ]:
b

In [ ]:
b = set(b)
b

In [ ]:
del b

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7}

In [ ]:
c = a.union(b)
c

In [ ]:
a.update(b)
a

In [ ]:
a.intersection(b)

In [ ]:
a,b,a.intersection(b)

In [ ]:
a,b,a.symmetric_difference(b)

In [ ]:
b.update({'balu'})
a,b,a.symmetric_difference(b)

In [ ]:
a,b,a.symmetric_difference_update(b)

In [ ]:
a.symmetric_difference_update(b)
a

In [ ]:
a,b,c

In [ ]:
c = {5,6,8,9}
a,b,c

In [ ]:
d = c
d

In [ ]:
d.clear()

In [ ]:
d

In [ ]:
c = {4,2,6.6}

In [ ]:
a.difference(b)

In [ ]:
a,b,a.difference(b)

In [ ]:
a.discard(4)

In [ ]:
a

In [ ]:
a.isdisjoint(b)

In [ ]:
a,b,a.isdisjoint(b)

In [ ]:
a,b,a.issubset(b)

In [ ]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,3,2,1,23}
c = {'ablu',5,6,7,9}

In [ ]:
a,b,a.issubset(b)

In [ ]:
a,b,b.issubset(a)

In [ ]:
a,b,a.issuperset(b)

In [ ]:
a,b,b.issuperset(a)

In [ ]:
b.pop()

In [ ]:
a,b,c

### Dictionaries...

In [ ]:
a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
a

In [ ]:
a['brand']

In [ ]:
#prnting the dictionaries...
for i in a.keys():
    print(i,'\t',a[i])

In [ ]:
a = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

In [ ]:
len(a)

In [ ]:
type(dict)

In [ ]:
## Access Dictionary Items..
a['brand']

In [ ]:
a.get('brand')

In [ ]:
a['year'] = 2022

In [ ]:
a

In [ ]:
a.keys(),a.values()

In [ ]:
a.items()

In [ ]:
print(a.items())

In [ ]:
type(a.items())

In [ ]:
#check if model key is existed in the dictionary...
if 'model' in a:
    print('Model is existed')

In [ ]:
a.update({'year':2010})

In [ ]:
a

In [ ]:
a['color'] = 'RED'

In [ ]:
a

In [ ]:
a.update({'Color':'red'})

In [ ]:
a

In [ ]:
a.popitem()

In [ ]:
a

In [ ]:
a['Color']='red'
a

In [ ]:
a.pop('Color')

In [ ]:
a

In [ ]:
b = a.copy()
b

In [ ]:
b.clear()

In [ ]:
b

In [ ]:
#Looop Dictionareis...

for i in a:
    print(i,'   ',a[i ])

In [ ]:
for i,j in a.items():
    print(i,j)

In [ ]:
#copy dictionaries...
b = dict(a)

In [ ]:
b

In [ ]:
#nested dictionaries...

myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}

In [ ]:
for i,j in myfamily.items():
    print(i)
    for x,y in j.items():
        print(x,' \t',y)
    print('\n')

In [ ]:
a.setdefault('balu') #setdeafault will create the value with none if does nto exisst else return orginall..
a

### Python conditions...

In [ ]:
a = 20
b= 10
print('a is big') if a>b else print('b is big')

In [ ]:
a = 10
b = 1
print("A") if a > b else print("=") if a == b else print("B")

In [ ]:
a = 'dood'
b = 'puspdlkufsdf'
print('letter "A" in b and a')  if 'a' in b and 'a' in b else print( 'letter "A" is only in a') if 'a' in a and 'a' not in b \
else print( 'letter "A" is only in b') if 'a' in b and 'a' not in a else print('letter "A" is not found in both variables')

### While loops and For loops...

In [ ]:
# while loop ...
i = 0
text = "Data can be pre-existing, newly acquired, or a data repository downloadable from the internet. Data scientists can extract data from internal or external databases, company CRM software, web server logs, social media or purchase it from trusted third-party sources."
text = text.split()
while i<len(text):
    print(i, " --->  ",text[i])
    i +=1
    if text[i] =='social' : print(i, " --->  ",text[i],'\nsocial is appeared at {} index '.format(i)) ;break

In [ ]:
i = 0
while i<10:
    i +=1
    if i==3:
        continue
    print(i)

In [ ]:
#else with ii
i = 0
while i<len(text):
    if 'balu' in text[i]:
        print('i found at {}'.format(i))
    else: print(i,'--->Balu not found')
    i+=1
else:
    print('i is not lonager available than {}'.format(i))

In [ ]:
###For loop..
fruits = ['bala', 'rama','raju']
for i in fruits:
    print(i)

In [ ]:
###For loop..break
fruits = ['bala', 'rama','raju']
for i in fruits:
    print(i)
    if i =='rama':
        break

In [ ]:
###For loop..countinue
fruits = ['bala', 'rama','raju']
for i in fruits:
    
    if i =='rama':
        continue
    print(i)

In [ ]:
for i in range(1,16,2):
    print(i)

In [ ]:
[i for  i in range(1,16,2)]

In [ ]:
for i in range(1,16,2):
    print(i)
else :
    print('for loop ended')

In [ ]:
#nested loops...
temp =0
for i in range(0,21,5):
    if i == temp+5:
        print('##################')
        for j in range(i,temp,-1):
            print(j)
        temp+=5

In [ ]:
a  = '4445444'
print('a is amstrong') if a[::-1]==a else print('a is not amstrong')

### Creating Functions..

In [ ]:
#creating functions... in python.

def add(a,b):
    return a+b
add(3,4)

In [ ]:
#unknown arguments...
def add(*args):
    a = list(args)
    print('value    int/not')
    for i in a:
        print(i,'\t',isinstance(i,int))

    
add(1,2,33,'balu',True)

In [ ]:
def add(a,b,c):
    print(a,b,c)
    
add(a=10,c=20,b=80)

In [ ]:
def add(**a):
 
    print(a)

    
add(a=10,c=20,b=80)

In [ ]:
def add(**args):
 
    print(args)

    
add(a=10,c=20,b=80)

In [ ]:
def add(a=56):
    print(a)
    
add()

In [ ]:
r = 1
for i in [n for n in range(1,11)]:
    r *= i
    
    print(r)

In [ ]:
def tri_recursion(k):
    print('###',k)
    if(k > 0):
       
        result = k + tri_recursion(k - 1)

        print(result)
    else:
        result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(5)

### lambda...

In [ ]:
x = lambda a : a + 10
print(x(10)) # 10 is added to the lambda... funciton...

In [ ]:
x = lambda a,b : a*b
x(10,20)

In [ ]:
for i in range(1,20):
    j = 'Balu '
    l = lambda a,b : a * b
    print(l(i,j))

### Arrays...

In [ ]:
cars = ["Ford", "Volvo", "BMW"]

In [ ]:
cars

In [ ]:
cars[::-1]

In [ ]:
for i in cars:
    print(i)

In [ ]:
cars.append('Honda')

In [ ]:
cars

In [ ]:
cars.pop(1)

In [ ]:
cars

### Classes and objects..

In [ ]:
class age:
    age = 100
age.age

In [ ]:
#create object.....
class ap:
    '''def __init__(self,distict,city):
        self.distict = distict
        self.city = city'''
    def __str__(self,distict,city):
        
         self.distict = distict
         self.city = city
    
ap.distict = 'anakapallie'
ap.city = 'atchutapuram'

print(ap.distict)
print(ap.city)

In [ ]:
#create object.....
class ap:
    def __init__(self,distict,city):
        self.distict = distict
        self.city = city
    def __str__(self):
        return f"{self.distict} ({self.city})"
    
ap.distict = 'anakapallie'
ap.city = 'atchutapuram'

state = ap('visakhapatnam','anakapalli')
print(state)

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

### Object Methonds...

In [ ]:
class calculator:
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a - self.b
    def mul(self):
        return a*b
    def div(self):
        return self.a / self.b
    def power(self):
        return self.a ** self.b
    #str function...
    def __str__(self):
        print('result')
    
cal = calculator(12 , 10)
cal.add()
cal.sub()

In [ ]:
cal.div()

In [ ]:
cal.power()

In [ ]:
cal.add()

In [ ]:
class circle:
    def __init__(proparties,color,size):
        proparties.color = color
        proparties.size = size
        
    def layer(border,color,size):
        border.color = color
        border.size = size
        print('The border color is {} with size {}'.format(color,size))
        
c = circle('red',20)
print(c.color)
print(c.size)
c.layer('blue',4)
c = circle('red',20)
print(c.color)
print(c.size)

In [ ]:
c.color = 'yellow'
c.color

In [ ]:
del c.color

In [ ]:
del c

### Ineritance..
Inheritance allows us to define a class that inherits all the methods and properties from another class.

Parent class is the class being inherited from, also called base class.

Child class is the class that inherits from another class, also called derived class.

In [ ]:
# Creating a parent Class...
class circle:
    def __init__(self,color,size):
        self.color = color
        self.size = size
        
    def printname(self):
        print(self.color,'\t', self.size)
x = circle('Red',32)
x.printname() #this prints the data we have givennn.. to the class...

In [ ]:
##Creating a Child Class...
class shape(circle):
    pass

s = shape('yellow',50)
s.printname()

In [ ]:
x.printname()

In [ ]:
class shape(circle):
    def __init__(self,color,size):
        self.color = color
        self.size = size
s = shape('red',56)
s.color

In [ ]:
#inherit both parent and child features...
class shape(circle):
    def __init__(self,color,size):
        circle.__init__(self,color,size)
s = shape('red',56)
s.printname()

In [ ]:
x.printname()

In [ ]:
class shape(circle):
    def __init__(self,color,size):
        super().__init__(color,size) #self parameter not required...
s = shape('red',56)
s.printname()

In [ ]:
#add propoerties...
class shape(circle):
    def __init__(self,color,size,shape):
        super().__init__(color,size) #self parameter not required...
        self.shape = shape
    def printname2(self):
        return print(self.shape)
s = shape('red',56,'circle')
s.printname()
s.printname2()

In [ ]:
#add propoerties...
class shape(circle):
    def __init__(self,color,size,shape):
        super().__init__(color,size) #self parameter not required...
        self.shape = shape
    def print2(self):
        print(self.shape,"shape have '{}' color and ''{}''size".format(self.color,self.size))
        
s = shape('red',56,'circle')
s.printname()
s.print2()

In [ ]:
### Practice classes parent and child..

class shape:
    def __init__(self,shape,color,size):
        self.shape = shape
        self.color = color
        self.size = size
    def print(self):
        print("The '{}' have '{}'  length with '{}' Color.".format(self.shape,self.size,self.color))
        
class circle(shape):
    def __init__(self,color,size):
        super().__init__('Circle',color,size)
class rectangle(shape):
    def __init__(self,color,size):
        super().__init__('Rectangle',color,size)
c = circle('Red',50)
c.print()
r = rectangle('Blue',25)
r.print()

In [ ]:
## Interator...

a = ['name','age','Qualification']
i = iter(a)
print(next(i))
print(next(i))
print(next(i))

In [ ]:
mystr = "banana"
myit = iter(mystr)

print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))
print(next(myit))

In [ ]:
mytuple = ("apple", "banana", "cherry")

for x in mytuple:
  print(x)

In [ ]:
mystr = "banana"

for x in mystr:
  print(x)

In [ ]:
#iter function creation

class numbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        x = self.a
        self.a += 1
        return x
    
myclass = numbers()
myiter = iter(myclass)

print(next(myiter))
print(next(myiter))
print(next(myiter))
print(next(myiter))

In [ ]:
class numbers:
    def __iter__(self):
        self.a = 1
        return self
    def __next__(self):
        if self.a<=20:
            x = self.a
            self.a +=1
            return x
        else:
            raise StopIteration
myclass = numbers()
myiter = iter(myclass)

for i in myiter:
    print(i)

In [ ]:
def myfunc():
  x = 300
  print(x)

myfunc()

In [ ]:
def myfunc():
  x = 300
  def myinnerfunc():
    print(x)
  myinnerfunc()

myfunc()

In [ ]:
x = 300

def myfunc():
  print(x)

myfunc()

print(x)

In [ ]:
x = 300

def myfunc():
  x = 200
  print(x)

myfunc()

print(x)

In [ ]:
def myfunc():
  global x
  x = 300

myfunc()

print(x)

In [ ]:
x = 300

def myfunc():
  global x
  x = 200

myfunc()

print(x)

### Module...

In [ ]:
import platform

In [ ]:
x = platform.system()

In [ ]:
x

In [ ]:
dir(x)

In [ ]:
import datetime

In [ ]:
date = datetime.datetime.now()
print(date)

In [ ]:
print(date.year)
print(date.month)
print(date.strftime('%A'))

In [ ]:
x = datetime.datetime(2022, 12, 7)

print(x)

In [ ]:
x.strftime('%B')

### math Functions..

In [ ]:
min(1,2)

In [ ]:
max(1,2)

In [ ]:
pow(3,4)

In [ ]:
pow(2,8)

In [ ]:
abs(10/-3)

In [ ]:
import math

In [ ]:
math.cos(45)

In [ ]:
math.sqrt(2)

In [ ]:
math.sqrt(10)

In [ ]:
math.sqrt(90)

In [ ]:
math.factorial(3)

In [ ]:
import math

x = math.ceil(1.6)
y = math.floor(1.6)

print(x) # returns 2
print(y) # returns 1

In [ ]:
round(1.6)

In [ ]:
math.pi

### Json in python..

In [ ]:
import json

In [ ]:
x =  '{ "name":"John", "age":30, "city":"New York"}'

In [ ]:
y = json.loads(x)

In [ ]:
y['age']

In [ ]:
type(y)

In [ ]:
y =json.dumps(y)

In [ ]:
import json

# a Python object (dict):
x = {
  "name": "John",
  "age": 30,
  "city": "New York"
}

# convert into JSON:
y = json.dumps(x)

# the result is a JSON string:
print(y)

In [ ]:
print(json.dumps({"name": "John", "age": 30}))
print(json.dumps(["apple", "bananas"]))
print(json.dumps(("apple", "bananas")))
print(json.dumps("hello"))
print(json.dumps(42))
print(json.dumps(31.76))
print(json.dumps(True))
print(json.dumps(False))
print(json.dumps(None))

In [ ]:
type(json.dumps(("apple", "bananas")))

In [ ]:
x = {
  "name": "John",
  "age": 30,
  "married": True,
  "divorced": False,
  "children": ("Ann","Billy"),
  "pets": None,
  "cars": [
    {"model": "BMW 230", "mpg": 27.5},
    {"model": "Ford Edge", "mpg": 24.1}
  ]
}

print(json.dumps(x))

In [ ]:
type(json.dumps(x))

In [ ]:
x['cars'][0]['mpg']

In [ ]:
## Format the result...

In [ ]:
print(json.dumps(x,indent=5))

In [ ]:
print(json.dumps(x,indent=5,separators=("\t ", " >> "),sort_keys=True))

### Regular Expressions...

In [ ]:
import re

In [ ]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
x

In [ ]:
x = 'Balu is a bad boy'

y = re.search("^Balu.+boy$",x)
if y:
    print('match')
else:
    print('not found')

In [ ]:
re.findall('bad',x)

### REgular Expressions